<?xml version="1.0"?>
<!--
Common setup for Motoman SIA10f.
-->

<launch>
  <param name="robot_description"
         textfile="$(find motoman_description)/urdf/sia10f.urdf" />
  <rosparam param="controller_joint_names">
  ["joint_s", "joint_l", "joint_e", "joint_u", "joint_r", "joint_b", "joint_t"]
  </rosparam>

  <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="robot_state_publisher" output="screen" />
  
  <!-- TODO: what does this next line do? -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher"
        name="tf_base_base_link" output="screen"
        args="0 0 0 0 0 0 1 base base_link" /> -->

  <!-- add node for rviz visualization-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find industrial_robot_client)/config/robot_state_visualize.rviz" required="true" />

  <!-- launch file to make dummy motoman robot, without this there is error in rviz visualization -->
  <include file="$(find with_rviz)/launch/dummy_moto.launch"/>

  

  <!-- TODO: From here we can include some script to control motoman online -->


</launch>
